@{
    ViewData["Title"] = "Sushi";
}
<html>
<head>
    <link href="~/css/custom.css" rel="stylesheet" />
    <script>document.getElementsByClassName("nav_element").item(0).style.borderBottom = "0.3rem groove  #ffd800"</script>
</head>
<body style="background-image:url(); background-color:#000000">
    <br /><br />
          <a asp-controller="Sushi" asp-action="Index">
              <img class="home_img" src="~/pics/main_bg.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg1.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg2.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg3.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg4.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg5.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg6.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg7.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg2.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg4.jpg" alt="Alternate Text" />
              <img class="home_img" src="~/pics/main_bg5.jpg" alt="Alternate Text" />
          </a>
        @*<body style="background-image: url(../pics/main_bg.jpg)">*@

        <h1 class="home_name">

            Best Sushi Ever
        </h1>
    
</body>
</html>


