@{
    ViewData["Title"] = "Our Workers";
}
<html>
<head>
    <link href="~/css/custom.css" rel="stylesheet" />
    <script>document.getElementsByClassName("nav_element").item(2).style.borderBottom = "0.3rem groove  #ffd800"</script>
</head>

   

<body style="background-image: url(); background-color: #000; background: linear-gradient(90deg, rgba(255,106,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 71%, rgba(245,119,0,1) 100%); ">
    <img src="/pics/black.jpg" alt="Alternate Text" />
    <h1 class="workers_page">Our lovely workers</h1>
    <div class="worker_container">
        <img src="~/pics/waitress.jpg" alt="Alternate Text" />
        <h1>Happy workers</h1>
        is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by ac
    </div>
    <div class="worker_container">
        <img src="~/pics/waitress.jpg" alt="Alternate Text" />
        <h1>Happy workers</h1>
        is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by ac
    </div>
    <div class="worker_container">
        <img src="~/pics/waitress.jpg" alt="Alternate Text" />
        <h1>Happy workers</h1>
        is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by ac
    </div>
    <div class="worker_container">
        <img src="~/pics/waitress.jpg" alt="Alternate Text" />
        <h1>Happy workers</h1>
        is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by ac
    </div>
    <div class="worker_container">
        <img src="~/pics/waitress.jpg" alt="Alternate Text" />
        <h1>Happy workers</h1>
        is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by ac
    </div>
</body>
</html>

<p>Everyone is happy</p>
